
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container connect">
    <div class="inside-container">
        <div class="row">
            <div class="col-12 subhead">
                <h1 class="text-center">contact us</h1>
                <nav class="breadcrumb page-linker">
                    <a class="breadcrumb-item" href="#">Home <i class="fas fa-angle-right"></i></a>
                    <span class="breadcrumb-item active">Contact Us </span>
                </nav>
            </div>
        </div>
    </div>
</div>


