<div class="main-container contact-color">
    <div class="inside-container ">
        <div class="row row-spc">
            <div class="col-md-12 col-lg-12 col-disp">
                <div class="icon-scp">
                    <div class="left-side">
                        <a class="link-head " href="#"><i class="fas fa-phone fa-rotate-90"></i>  +(11)123 456 7890</a> <span>|</span>
                        <a class="link-head " href="#"><i class="far fa-clock"></i> Sun-Mon: 9.00am to 7.00pm</a> <span>|</span>
                        <a class="link-head " href="#"><i class="far fa-envelope "> </i> info@flamix.com </a>
                    </div>
                </div>
                <div class="ml-auto icon-scp">
                    <i class="fab fa-facebook-f "></i>
                    <i class="fab fa-twitter icon-scp"></i>
                    <i class="fab fa-linkedin-in icon-scp"></i>
                    <i class="fab fa-tumblr icon-scp"></i>
                    <i class="fab fa-vimeo-v icon-scp"></i>
                    <i class="fab fa-pinterest-p icon-scp"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!--menu-->
<div class="main-container nav-bg-color">
    <div class="inside-container nav-contain">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <img src="image/Logo 4.png" class="img-fluid" alt="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav-list ml-auto">
                    <a class="menu" href="index.html">HOME</a>
                    <a class="menu" href="#">ABOUT US</a>
                    <a class="menu" href="services.html">SERVICES</a>
                    <a class="menu" href="#">BUSINESS CARD</a>
                    <a class="menu" href="blog.html">BLOG</a>
                    <a class="menu" href="blog-single.html">SINGLE POST</a>
                    <a class="menu  last-spc" href="contact.html">CONTACT</a>
                    <span class="menu last-spc color-line"> | </span>
                    <a class="menu icon-color last-spc" href="#"><i class="fas fa-shopping-cart"></i></a>
                    <a class="menu icon-color  last-spc" href="#"><i class="fas fa-search"></i></a>

                </div>
            </div>
        </nav>
    </div>
</div> 